<body>
  <div class="pt-12 bg-white h-96 start-below">
    <div id="app" class="px-4 mx-auto mx-w-7xl sm:px-6 lg:px-8">
      <div class="lg:flex lg:items-center lg:justify-between">
        <div class="flex-1 min-w-0">
          <h2
            class="text-2xl font-bold leading-7 text-gray-900 sm:text-3xl sm:leading-9 sm:truncate"
          >
            Back End Developer
          </h2>
          <div class="flex flex-col mt-1 sm:mt-0 sm:flex-row sm:flex-wrap">
            <div
              class="flex items-center mt-2 text-sm leading-5 text-gray-500 sm:mr-6"
            >
              <%= embed_svg "solid/briefcase", class: "flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400" %>
              Full-time
            </div>
            <div
              class="flex items-center mt-2 text-sm leading-5 text-gray-500 sm:mr-6"
            >
              <%= embed_svg "solid/location-marker", class: "flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400" %>
              Remote
            </div>
            <div
              class="flex items-center mt-2 text-sm leading-5 text-gray-500 sm:mr-6"
            >
              <%= embed_svg "solid/currency-dollar", class: "flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400" %>
              $120k &ndash; $140k
            </div>
            <div class="flex items-center mt-2 text-sm leading-5 text-gray-500">
              <%= embed_svg "solid/calendar", class: "flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400" %>
              Closing on January 9, 2020
            </div>
          </div>
        </div>
        <div class="flex mt-5 lg:mt-0 lg:ml-4">
          <span class="hidden rounded-md shadow-sm sm:block">
            <button
              type="button"
              class="inline-flex items-center px-4 py-2 text-sm font-medium leading-5 text-gray-700 transition duration-150 ease-in-out bg-white border border-gray-300 rounded-md hover:text-gray-500 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 active:text-gray-800 active:bg-gray-50"
            >
              <%= embed_svg "solid/pencil", class: "w-5 h-5 mr-2 -ml-1 text-gray-500" %>
              Edit
            </button>
          </span>

          <span class="hidden ml-3 rounded-md shadow-sm sm:block">
            <button
              type="button"
              class="inline-flex items-center px-4 py-2 text-sm font-medium leading-5 text-gray-700 transition duration-150 ease-in-out bg-white border border-gray-300 rounded-md hover:text-gray-500 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 active:text-gray-800 active:bg-gray-50"
            >
              <%= embed_svg "solid/link", class: "w-5 h-5 mr-2 -ml-1 text-gray-500" %>
              </svg>
              View
            </button>
          </span>

          <span class="rounded-md shadow-sm sm:ml-3">
            <button
              type="button"
              class="inline-flex items-center px-4 py-2 text-sm font-medium leading-5 text-white transition duration-150 ease-in-out bg-indigo-600 border border-transparent rounded-md hover:bg-indigo-500 focus:outline-none focus:shadow-outline-indigo focus:border-indigo-700 active:bg-indigo-700"
            >
              <%= embed_svg "solid/check", class: "-ml-1 mr-2 h-5 w-5" %>
              Publish
            </button>
          </span>

          <!-- Dropdown -->
          <span class="relative ml-3 rounded-md shadow-sm sm:hidden">
            <button
              type="button"
              class="inline-flex items-center px-4 py-2 text-sm font-medium leading-5 text-gray-700 transition duration-150 ease-in-out bg-white border border-gray-300 rounded-md hover:bg-gray-50 focus:outline-none focus:shadow-outline focus:border-blue-300"
              id="mobile-menu"
              aria-haspopup="true"
              @click="isActive = !isActive"
            >
              More
              <%= embed_svg "solid/chevron-down", class: "w-5 h-5 ml-2 -mr-1 text-gray-500" %>
            </button>

            <!--
                  Dropdown panel, show/hide based on dropdown state.

                  Entering: "transition ease-out duration-200"
                    From: "transform opacity-0 scale-95"
                    To: "transform opacity-100 scale-100"
                  Leaving: "transition ease-in duration-75"
                    From: "transform opacity-100 scale-100"
                    To: "transform opacity-0 scale-95"
                -->
            <div
              class="absolute right-0 w-48 mt-2 -mr-1 origin-top-right rounded-md shadow-lg"
              aria-labelledby="mobile-menu"
              role="menu"
              :class="{ hidden: !isActive }"
            >
              <div class="py-1 bg-white rounded-md shadow-xs">
                <a
                  href="#"
                  class="block px-4 py-2 text-sm leading-5 text-gray-700 transition duration-150 ease-in-out hover:bg-gray-100 focus:outline-none focus:bg-gray-100"
                  role="menuitem"
                  >Edit</a
                >
                <a
                  href="#"
                  class="block px-4 py-2 text-sm leading-5 text-gray-700 transition duration-150 ease-in-out hover:bg-gray-100 focus:outline-none focus:bg-gray-100"
                  role="menuitem"
                  >View</a
                >
              </div>
            </div>
          </span>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
  <script>
    new Vue({
      el: '#app',
      data: {
        isActive: false,
      },
    });
  </script>
</body>
