<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Tailwind template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'index' %>
  </head>

  <body class="antialiased">
    <div data-behaviour="vue" class="flex flex-col">
      <%= render 'headers/header' %>
      <%= yield %>
    </div>
  </body>
</html>